.App {
  text-align: center;
  position: relative;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fbfdf46c;
  min-height: 100vh;
  font-family: korolev,Helvetica Neue,Helvetica,Arial,sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: calc(10px + 2vmin);
}

.header, .footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 1.2rem;
  font-weight: 500;
  color: black;

  background-color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;

  width: 100%;

}

.header-item, .footer-item {
  padding-left: 2%;
  padding-right: 2%;

  &:hover {
    cursor: pointer;
    color: rgb(97, 97, 97);
  }

  &.active {
    text-decoration: underline 3px solid black;
  }
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.atomium {
  margin-top: 2rem;
}

.country-flags-main {
  font-size: 2rem;
  margin-top: 1rem;
}

.country-flags-other {
  font-size: 2rem;
  margin-top: 1rem;
  max-width: 60%;
}

.conference-title {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  color: whitesmoke;
  background-color: rgb(233, 194, 194);
  width: 80%;
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
  border-bottom: 3px solid grey;
  border-top: 3px solid grey;
}

.loading-message {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.footer {  
  position: fixed;
  bottom: 0;
  
  border-top: gainsboro 1px solid;
}

.header {
  position: fixed;
  top: 0;
  
  border-bottom: gainsboro 1px solid;
}

.loader-container {
  display: flex;
}

.loader {
  border: 5px solid #e2e0e0; 
  border-top: 5px solid #375a72;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin-right: 1rem;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.about-us-container,
.privacy-view-container,
.output-view-container,
.program-view-container,
.brussels-view-container {
  padding-top: 4rem;
  font-size: 1rem;
}

.gallery-container {
  margin-top: 4rem;
  img {
    width: 70%;
  }
}
